# Descriptive Statistics and Python Implementation

In [16]:
import statistics as stat
import pandas as pd
from scipy.stats import pearsonr as pr

print("Modules Imported Successfuly!")

Modules Imported Successfuly!

In [2]:
df = pd.read_csv('data.csv')

print('Data Imported!')

Data Imported!

In [3]:
df.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

## Mean

A **Mean** is the simple mathematical average of a set of two or more numbers.

$$ \mu = \frac{1}{n}\sum_ix_i $$

In [4]:
mean = sum(df.Mthly_HH_Income)/len(df.Mthly_HH_Income)

print("Mean: ",mean)

Mean:  41558.0

In [5]:
print("Mean: ",stat.mean(df.Mthly_HH_Income))

Mean:  41558

## Median

The **Median** is the middle number in a sorted, ascending or descending, list of numbers. It can be more descriptive of that data set than the average.

In [6]:
print("Median: ",stat.median(df.Annual_HH_Income))

Median:  447420.0

## Mode

The **Mode** is the value that appears most frequently in a data set.  
A set of data may have one mode, more than one mode, or no mode at all.

In [7]:
print("Mode: ",stat.mode(df.No_of_Fly_Members))

Mode:  4

## Variance

The **Variance** refers to a statistical measurement of the spread between numbers in a data set.

$$ \sigma^2 = \frac{1}{n}\sum_i(x_i-\mu)^2 $$

In [10]:
print("Variance of Annual Household Income: ",stat.variance(df.Annual_HH_Income))

Variance of Annual Household Income:  102486925397.91672

## Standard Deviation

A **Standard Deviation** is a statistic that measures the dispersion of a dataset relative to its mean.

In [14]:
print("Standard Deviation of Annual Household Income: ",stat.stdev(df.Annual_HH_Income))

Standard Deviation of Annual Household Income:  320135.7921225253

## Correlation

**Correlation** coefficients are indicators of the strength of the linear relationship between two different variables, x and y.  
- Linear correlation coefficient that is greater than zero indicates a positive relationship.  
- A value that is less than zero signifies a negative relationship.  
- Finally, a value of zero indicates no relationship between the two variables x and y.

In [20]:
corr, _ = pr(df.Mthly_HH_Income, df.Annual_HH_Income)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.970

## Normal Distribution

## Feature of Normal Distribution

Positively Skewed & Negatively Skewed Normal Distribution
Effect on Mean, Median and Mode due to Skewness
Explain QQ Plot and show the implementation of the same
Explain Box Cox and show the implementation of the same